<%- include('partials/header'); -%>

<main class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card my-5">
        <img src="<%= game.background_image %>" class="card-img-top" alt="<%= game.name %>">
        <div class="card-body">
          <h2 class="card-title"><%= game.name %></h2>
          <p class="card-text"><strong>Release Date:</strong> <%= game.released %></p>
          <p class="card-text"><strong>Rating:</strong> <%= game.rating %></p>
          <p class="card-text"><strong>Genres:</strong> <%= game.genres.map(genre => genre.name).join(', ') %></p>
          <p class="card-text"><strong>Platforms:</strong> <%= game.platforms.map(platform => platform.platform.name).join(', ') %></p>
          <p class="card-text"><strong>Developers:</strong> <%= game.developers.map(developer => developer.name).join(', ') %></p>
          <p class="card-text"><strong>Publishers:</strong> <%= game.publishers.map(publisher => publisher.name).join(', ') %></p>
          <p class="card-text"><strong>Tags:</strong> <%= game.tags.map(tag => tag.name).join(', ') %></p>
          <p class="card-text"><strong>Metacritic Score:</strong> <%= game.metacritic %></p>
          <p class="card-text"><strong>Website:</strong> <a href="<%= game.website %>" target="_blank"><%= game.website %></a></p>
          <p class="card-text"><strong>Description:</strong> <%= game.description_raw %></p>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer'); -%>
